html    {
        height: 100%;
        font-family: "Ubuntu", sans-serif; 
        }
body    {
        box-sizing: border-box;
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        }
.header
        {
        margin: 0.5rem 0.5rem 0;
        display: flex;
        padding: 0px;
        }
.header-title, .main-menu, .tune-menu
        {
        margin: 0;
        padding: 0 0.5rem;        
        }
.header-title
        {
        flex: 1;        
        }        

.content
        {
        margin: 0 0.5rem;
        display: flex;
        flex-direction: column;        
        flex: 1;
        }

.footer {
        margin: 0 0.5rem 0.5rem;
        display: flex;
        justify-content: space-between;
        }
.footer-item
        {
        margin: 0;
        padding: 0.125rem;        
        }        

.filter-bar
        {
        margin: 0.5rem 0;                 
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        }
.filter-lev1
        {
        margin: 0;
        display: flex;        
        }        
.filter-lev2
        {
        margin: 0 0.5rem 0 0;
        padding: 0 0.25rem;        
        }        

.active-box
        {
        padding: 0;        
        height: 2rem;
        width: 2rem;        
        }





.table-wrapper
        {
        margin: 0;
        padding: 0px;
        display: flex;
        flex-direction: column;
        flex: 1;
        }
.table-header, .table-body, .table-footer 
        {
        padding: 0.5rem;
        }
.table-body
        {
        flex: 1;
        }


/* typography */        
.typography-1
        {
        font: normal bold 1.5rem/2rem Ubuntu;
        letter-spacing: -0.2px;
        }
.typography-2
        {
        font: normal 1rem/1.5rem Ubuntu;
        letter-spacing: -0.2px;
        }
.typography-3
        {
        font: x-small Ubuntu;
        letter-spacing: -0.2px;
        }
/* borders and colors */        
.bordered-blue 
        {
        border: 1px dotted blue;
        }

.border-style-1
        {
        border: 2px solid #8055FF;    
        }

.color-style-1
        {
        background-color: #A8A8FF;
        color: #8055FF;    
        }
.color-style-2, .main-menu:hover, .tune-menu:hover 
        {
        background-color: #8055FF;
        color: #A8A8FF;    
        }

    